version: "3"


services:
  blog:
    build: .
    ports:
    - "${EXPOSED_PORT}:1337"
    networks:
      - mehran-networks
    volumes:
      - upload_volume:/code/public/uploads

  postgres-blog:
    image: postgres:13.3
    container_name: postgres-blog
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
    - "5432:5432"
    networks:
      - mehran-networks
    volumes: 
      - postgres_volume:/var/lib/postgresql

networks: 
  mehran-networks:
    name: "mehranCMS-networks"
    driver: bridge
volumes:
  postgres_volume:
  upload_volume:
