version: "3"


services:
  blog:
    build: .
    depends_on:
    - "postgres-blog"
    ports:
    - "1337:1337"

  postgres-blog:
    image: postgres:13.3
    container_name: postgres-blog
    env_file: .env
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
    - "5432:5432"

volumes:
  postgres_volume:
